.App {
  padding: 10px;
  font-size: 2em;
  text-align: center;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  font-size: 0.8rem;
  background-color: #ccddee;
}

.link {
  color: #b318f0;
}
